<div class="relative w-full">
 <!-- Carousel wrapper -->
 <div class="relative h-56 overflow-hidden rounded-lg sm:h-64 xl:h-80 2xl:h-96">
   <!-- Loop through carousel items -->
   <div *ngFor="let item of carouselItems; let i = index"
        [id]="'carousel-item-' + i"
        [class]="i === activeIndex ? 'duration-700 ease-in-out' : 'hidden duration-700 ease-in-out'">
     <img [src]="item.src" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="item.alt">
   </div>
 </div>
 <!-- Other parts of the carousel (indicators, controls) go here -->
 <!-- ... (carousel wrapper) ... -->

<!-- Slider indicators -->
<div class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2">
 <button *ngFor="let item of carouselItems; let i = index"
         [id]="'carousel-indicator-' + i"
         type="button"
         (click)=" setActiveSlide(i)"
         class="w-3 h-3 rounded-full focus:outline-none"
         [class.bg-white]="i === activeIndex" [class.bg-gray-400]="i !== activeIndex"  
         [attr.aria-current]="i === activeIndex ? 'true' : 'false'"
         [attr.aria-label]="'Slide ' + (i + 1)"></button>
</div>


  <!-- Slider controls -->
  <button id="data-carousel-prev" type="button" class="absolute top-1/2 left-0 transform -translate-y-1/2" (click)="prevSlide()">
   <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-gray-500 dark:group-hover:bg-gray-600 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none transition-colors">
     <svg class="w-6 h-6 text-white dark:text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
       <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"/>
     </svg>
   </span>
 </button>
 <button id="data-carousel-next" type="button" class="absolute top-1/2 right-0 transform -translate-y-1/2" (click)="nextSlide()">
   <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-gray-500 dark:group-hover:bg-gray-600 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none transition-colors">
     <svg class="w-6 h-6 text-white dark:text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
       <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"/>
     </svg>
   </span>
 </button>



</div>
